<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> {{useInfo?.role}} </ion-title>
    @if((isAuthenticated$ | async)){
    <ion-button slot="end" fill="outline" (click)="logout()">
      Logout
    </ion-button>
    }
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{useInfo?.role}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    @if(useInfo?.role === 'admin'){
    <ion-button (click)="joinNowClick()"> Tech 1 </ion-button>
    <br />
    <ion-button (click)="joinNowClick()"> Tech 2 </ion-button>

    } @if(useInfo?.role === 'tech'){ } @if(useInfo?.role === 'user'){
    <ion-button (click)="joinNowClick()"> Tech 1 </ion-button>
    <br />
    <ion-button (click)="joinNowClick()"> Tech 2 </ion-button>
    }
  </div>

  @if (!(isAuthenticated$ | async)) {
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-button (click)="joinNowClick()"> Join now </ion-button>
  </ion-fab>
  }
</ion-content>
